<app>
  <pv-menu>
    <pv-select events={{ change: parent.onTransactionTypeChange }} items={ parent.transactionTypes } value-field="transactionType" text-field="text"></pv-select>
    <pv-select events={{ change: parent.onCurrencyChange }} items={ parent.currencyCodes } value-field="currencyCode" text-field="text"></pv-select>
    <pv-button events={{ click: parent.onSearch }}>Search</pv-button>
  </pv-menu>
  <pv-transactions items={ transactions }></pv-transactions>

  <style>
    :scope {
      padding: 40px;
    }
    @media all and (max-width: 800px) { 
      :scope {
        padding: 10px;
      }
    }
  </style>

  <script>
    this.search = async function({transactionType, currencyCode}) {
      const query = { action: transactionType, currencyCode: currencyCode };
      const transactions = await opts.api.transactions(query).catch(_ => [])
      this.update({ transactions });
    }

    this.filter = {
      transactionType: '',
      currencyCode: ''
    }

    this.transactionTypes = [
      {transactionType: '', text: 'Transaction Type'},
      {transactionType: 'payment', text: 'Payment'},
      {transactionType: 'credit', text: 'Credit'}
    ]

    this.currencyCodes = [
      {currencyCode: '', text: 'Currency'},
      {currencyCode: 'EUR'},
      {currencyCode: 'JPY'},
      {currencyCode: 'USD'}
    ]

    this.onTransactionTypeChange = function(e) {
      this.filter.transactionType = e.selected.transactionType
    }.bind(this)

    this.onCurrencyChange = function(e) {
      this.filter.currencyCode = e.selected.currencyCode
    }.bind(this)

    this.onSearch = function(e) {
      this.search(this.filter)
    }.bind(this)

    this.on('mount', () => this.search(this.filter))
  </script>
</app>

<pv-transactions>
  <table>
    <col class="space" />
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
    <col class="space" />
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Brand</th>
        <th class="item__last4digits">Last 4 digits</th>
        <th>Transaction type</th>
        <th class="item__amount">Amount</th>
        <th>Currency</th>
        <th></th>
      </tr>
    </thead>
    <tbody each={item in opts.items}>
      <tr class={ item: true, 'item--selected': isSelected(item) } onclick={ onClick }>
        <td></td>
        <td>{ item.card.holderName }</td>
        <td>{ item.brandId }</td>
        <td class="item__last4digits">XXXX { item.card.lastFourDigits }</td>
        <td>{ item.action }</td>
        <td class="item__amount">{ item.amount }</td>
        <td>{ item.currencyCode }</td>
        <td></td>
      </tr>
      <tr if={ isSelected(item) }>
        <td class="item__details" colspan="8">
          <div class="panel">
            <dl>
              <dt>ID</dt><dd>{item.id}</dd>
              <dt>Tracking code</dt><dd>{item.trackingCode}</dd>
              <dt>Brand ID</dt><dd>{item.brandId}</dd>
            </dl>
          </div>
          <div class="panel">
            <dl>
              <dt>First 6 digits</dt><dd>{item.card.firstSixDigits} XXXX</dd>
              <dt>Expiry month</dt><dd>{item.card.expiryMonth}</dd>
              <dt>Expiry year</dt><dd>{item.card.expiryYear}</dd>
            </dl>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <style>
    :scope {
      display: block;
      background-color: var(--main-color);
    }
    table, th, td {
      border: 0px;
      border-collapse: collapse;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    table {
      table-layout: fixed;
      width: 100%;
    }
    th {
      padding: 15px 5px;
      color: var(--text-accent-color);
      text-align: left;
    }
    td {
      padding: 15px 5px;
      border-top: 1px solid lightgray; 
    }
    .item:hover {
      background-color: var(--accent-color);
    }
    .item--selected {
      font-weight: bold;
      background-color: var(--accent-color);
    }
    .space {
      width: 2px;
      border-top-color: transparent;
    }
    .item__last4digits, .item__amount {
      text-align: right;
    }
    .item__details {
      padding: 30px 40px;
      background-color: var(--accent-color);
    }
    .panel {
      float: left;
      width: 50%;
    }
    dl {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
    }
    dt {
      margin: 0;
      flex: 0 0 25%;
      max-width: 25%;
      color: var(--text-accent-color);
    }
    dt::after {
      content: ':'
    }
    dd {
      margin: 0;
      flex: 0 0 75%;
      max-width: 75%;
    }
    dt, dd {
      font-size: 16px;
      line-height: 2;
    }

    @media all and (max-width: 900px) { 
      dl {
        flex-direction: column;
      }
    }

    @media all and (max-width: 750px) { 
      .panel {
        float: none;
        width: 100%;
      }
    }

    @media all and (max-width: 400px) { 
      .item__details {
        padding: 10px;
      }
    }
  </style>
  <script>
    this.mixin('events')
    this.selected = null;
    this.isSelected = function (item) {
      return this.selected === item;
    }
    this.onClick = function (e) {
      this.selected = e.item.item
      this.trigger('change', { selected: this.selected, items: opts.items, sender: this, event: e })
    }.bind(this)
  </script>
</pv-transactions>