<pv-button>
  <button onclick={ onClick }>
    <yield/>
  </button>
  <style>
    button {
      user-select: none;
      border: 1px solid transparent;
      border-radius: 1px;
      outline-color: var(--devider-accent-color);
      background-color: var(--primary-color);
      padding: 5px 10px;
      color: var(--main-color)
    }
    button:active {
      background-color: var(--accent-color);
      color: var(--text-accent-color);
    }
  </style>
  <script>
    this.mixin('events')
    this.onClick = function (e) {
      this.trigger('click', { sender: this, event: e })
    }
  </script>
</pv-button>
