<pv-menu>
  <yield />
  <style>
    :scope {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    :scope > * {
      margin: 10px;
      margin-right: 0
    }

    @media all and (max-width: 400px) { 
      :scope {
        flex-direction: column;
        justify-content: space-around;
      }
      :scope > * {
        margin: 0 0 5px 0; 
      } 
    } 
  </style>
</pv-menu>
