<pv-select>
  <select onchange={ onChange }>
    <option each={item in opts.items} value={ item[opts.valueField] || item }>
      { item[opts.textField] || item[opts.valueField] || item }
    </option>
  </select>
  <i class="arrow"></i>
  <style>
    :scope {
      position: relative;
    }
    select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border: 1px solid var(--devider-color);
      border-radius: 1px;
      background-color: var(--main-color);
      outline-color: var(--devider-accent-color);
      color: var(--text-accent-color);
      padding: 5px 20px 5px 10px;
    }
    select + .arrow::after {
      pointer-events: none;
      content: ">";
      font: bold 14px monospace;
      transform: rotate(90deg);
      position: absolute;
      width: 15px;
      height: 15px;
      top: 12px;
      right: 4px;
    }
    select:hover:focus + .arrow::after {
      content: "<";
    }
  </style>
  <script>
    this.mixin('events')
    this.onChange = function (e) {
      this.selected = opts.items[e.target.selectedIndex]
      this.trigger('change', { selected: this.selected, items: opts.items, sender: this, event: e })
    }
  </script>
</pv-select>